In [8]:
import pandas as pd
data = [10,20,30,40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [9]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [10]:
df=pd.read_csv('transactions.csv')

In [11]:
import pandas as pd
df = pd.read_csv('transactions.csv')
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [13]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [14]:
print(df['Name'])

KeyError: 'Name'

In [ ]:
print(df[['Name', 'City']])

In [15]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [16]:
filtered_df = df[df['Age']>30]
print(filtered_df)

KeyError: 'Age'

In [17]:
df.rename(columns={'Name':'Full Name','Age':'Years'}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [18]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [19]:
df['Years'].fillna(df['Years'].mean(), inplace=True)

KeyError: 'Years'

In [20]:
df.dropna(inplace=True)

In [21]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df_sorted =  df.sort_values(by=["Quantity","TransactionDate"], ascending=[True,False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1

In [22]:
subset = df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [23]:
subset_rows = df.iloc[[0,2,5]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [24]:
foo = [True,False,True,False]
subset_rows = df[foo]
print(subset_rows)

ValueError: Item wrong length 4 instead of 10.

In [25]:
#Subset by columns TransactionID and TransactionDate with logical operator

subset = df[df['Quantity']>1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [26]:
#Subset columns by a variable list of column names

columns_to_select = ['TransactionID','TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [27]:
#Subset columns excluding a variable list of column names

columns_to_exclude = ['Quantity','ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [28]:
#Convert the TransactionDate column to type Date

df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [29]:
#Insert a new column, Foo = UserID + ProductID

df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [30]:
#Inserting a New Row

df.loc[len(df)] = [new_user_id,new_product_id,new_quantity,new_transaction_date]

NameError: name 'new_user_id' is not defined

In [31]:

#Updating Existing Values

df.loc[df['UserID'] == 2, 'Quantity'] = new_quantity_value

NameError: name 'new_quantity_value' is not defined

In [32]:
#Inserting a New Column

df['Foo'] = df['UserID'] + df['ProductID']
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2         3   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0

In [33]:
#Modifying data frames Adding a new column:

df['NewColumn'] = df['Quantity']*2
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0              1      2010-08-21     7.0          2         1  9.0          2
1              2      2011-05-26     3.0          4         1  7.0          2
2              3      2011-06-16     3.0          3         1  6.0          2
3              4      2012-08-26     1.0          2         3  3.0          6
4              5      2013-06-06     2.0          4         1  6.0          2

In [34]:
#Handling dates Convert the TransactionDate column to datetime

df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [13]:
# 1. Import Dataset

import pandas as pd
transactions = pd.read_csv('transactions.csv')

In [14]:
# 2. Print Numbers of Attributes
print("Number of attributes:", transactions.shape[1])

Number of attributes: 5

In [15]:
# 3. Print Numbers of Records
print("Number of records:", transactions.shape[0])

Number of records: 10

In [16]:
# 4. Get the row names (index)
print("Row names:", transactions.index.tolist())

Row names: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 5. Get the column names
print("Column names:", transactions.columns.tolist())

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [18]:
# 6. View top 10 Records
print(transactions.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
# 7. Change the name of column “Quantity” to “Quant”
transactions.rename(columns={'Quantity': 'Quant'}, inplace=True)

In [20]:
# 8. Change the name of columns ProductID and UserID to PID and UID respectively
transactions.rename(columns={'ProductID': 'PID', 'UserID': 'UID'}, inplace=True)

In [21]:
# 9. Order the rows of transactions by TransactionId descending
transactions_sorted_desc = transactions.sort_values(by='TransactionID', ascending=False)
print(transactions_sorted_desc)

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [22]:
# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending
transactions_sorted = transactions.sort_values(by=['Quant', 'TransactionDate'], ascending=[True, False])
print(transactions_sorted)

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [23]:
# 11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
transactions = transactions[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
print(transactions.head())

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0

In [24]:
# 12. Make UserID the first column of transactions
cols = ['UID'] + [col for col in transactions.columns if col != 'UID']
transactions = transactions[cols]
print(transactions.head())

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5

In [25]:
# 13. Extracting arrays from a Data Frame. Get the 2nd column
second_col = transactions.iloc[:, 1]
print("Second column array:\n", second_col.values)

Second column array:
 [2 4 3 2 4 5 4 2 4 4]

In [26]:
# 14. Get the ProductID Array
print("ProductID array:", transactions['PID'].values)

ProductID array: [2 4 3 2 4 5 4 2 4 4]

In [27]:
# 15. Get the ProductId array using the following variable
PID_array = transactions['PID'].values
print("ProductID array via variable:", PID_array)

ProductID array via variable: [2 4 3 2 4 5 4 2 4 4]

In [28]:
# 16. Row subsetting, subset rows 1,3 and 6 (0-based indexing)
subset_rows = transactions.iloc[[0, 2, 5]]
print(subset_rows)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

In [29]:
# 17. Subset rows excluding 1,3 and 6
subset_exclude = transactions.drop(index=[0, 2, 5])
print(subset_exclude)

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [30]:
# 18. Subset the first three rows
print(transactions.head(3))

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

In [31]:
# 19. Subset the last 2 rows
print(transactions.tail(2))

   UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [32]:
# 20. Subset rows excluding the last 2 rows
print(transactions.iloc[:-2])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

In [33]:
# 21. Subset rows excluding the first 3 rows
print(transactions.iloc[3:])

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [34]:
# 22. Subset rows where Quantity > 1
print(transactions[transactions['Quant'] > 1])

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [35]:
# 23. Subset rows where UserID = 2
print(transactions[transactions['UID'] == 2])

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [36]:
# 24. Subset rows where Quantity > 1 and UserID = 2
print(transactions[(transactions['Quant'] > 1) & (transactions['UID'] == 2)])

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [37]:
# 25. Subset rows where Quantity + UserID is > 3
print(transactions[(transactions['Quant'] + transactions['UID']) > 3])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [38]:
# 26. Subset rows where an external array, foo, is True
foo = [True, False] * (len(transactions) // 2 + 1)  # Example foo array
foo = foo[:len(transactions)]  # Trim to match
print(transactions[foo])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9

In [39]:
# 27. Subset rows where an external array, bar, is positive
bar = pd.Series(range(-len(transactions)//2, len(transactions)//2 + 1))  # Example bar array
bar = bar[:len(transactions)]  # Trim to match
print(transactions[bar > 0])

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [41]:
#Subset columns by a variable list of column names


column_list = ['PID', 'Quant', 'TransactionDate']
subset_33 = transactions[column_list]
print(subset_33)

   PID  Quant TransactionDate
0    2      1      2010-08-21
1    4      1      2011-05-26
2    3      1      2011-06-16
3    2      3      2012-08-26
4    4      1      2013-06-06
5    5      6      2013-12-23
6    4      1      2013-12-30
7    2      3      2014-04-24
8    4      3      2015-04-24
9    4      4      2016-05-08